* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
}
body {
  background-color: #0f172a;
  color: #ffffff;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
#Screen {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}
#MouseEffect {
  width: 210px;
  height: 210px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  background: radial-gradient(
    circle,
    rgba(59, 131, 246, 0.35) 0%,
    rgba(59, 131, 246, 0.15) 40%,
    rgba(59, 131, 246, 0) 70%
  );

  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(6px);
  mix-blend-mode: screen;
  opacity: 0.6;
}
/* header */
header {
  width: 100%;
  height: 15vh;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: fixed;
  z-index: 10000;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
nav h3 {
  font-size: 2em;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  height: 100%;
}
ul {
  display: flex;
  gap: 150px;
  align-items: center;
  z-index: 9999;
}
ul li a {
  color: #ffffffa8;
  position: relative;
}
ul li a.active {
  color: #ffffff;
}
ul li a::after {
  content: "";
  background-color: #24dcfd65;
  width: 100%;
  position: absolute;
  height: 5px;
  left: 0;
  bottom: -10px;
  border-radius: 50px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.3s;
  z-index: 9999;
}
ul li a.active::after {
  transform: scaleX(1);
}
ul li a:hover:after {
  transform: scaleX(1);
}
ul li a:hover {
  color: #ffffff;
}
ul button {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 0.8em;
  border: 0.6px solid #2699ad;
  padding: 15px 30px;
  border-radius: 20px;
  transition: 0.3s;
  margin-left: 10em;
}
ul button:hover {
  background-color: #217f8f;
}
#bars {
  display: none;
}
#Close {
  display: none;
}
@media screen and (max-width: 1840px) {
  nav {
    font-size: 35px;
  }
  ul button {
    margin-left: 5em;
  }
}
@media screen and (max-width: 1644px) {
  ul {
    gap: 100px;
  }
}
@media screen and (max-width: 1386px) {
  nav {
    font-size: 28px;
  }
  ul {
    gap: 80px;
  }
}
@media screen and (max-width: 1284px) {
  nav {
    font-size: 25px;
  }
  ul {
    gap: 70px;
  }
}
@media screen and (max-width: 1040px) {
  nav {
    justify-content: space-between;
    padding: 0px 120px;
  }
  ul {
    position: fixed;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 50%;
    top: 0;
    right: 0;
    background-color: #0d1323;
    box-shadow: 0 0 60px #0d1323;
    transform: translateX(100%);
    transition: 0.3s;
    transform-origin: right;
    z-index: 999999;
  }
  ul.active {
    transform: translateX(0);
  }
  ul li {
    display: flex;
    align-items: self-start;
    width: 100%;
    padding-left: 50px;
  }
  #bars {
    display: flex;
    font-size: 1.5em;
  }
  #Close {
    font-size: 0.8em;
    display: flex;
    width: 55px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    align-self: flex-end;
    margin-right: 50px;
  }
  ul button {
    padding: 20px 0;
    width: 80%;
    margin-left: 0;
  }
}
@media screen and (max-width: 658px) {
  nav {
    font-size: 25px;
    justify-content: space-between;
  }
  ul {
    gap: 70px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  #bars {
    display: flex;
    margin-right: -50px;
  }
  nav h3 {
    margin-left: -50px;
  }
  ul button {
    font-size: 0.7em;
    padding: 20px 0;
    width: 80%;
  }
  #Close {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 516px) {
  nav {
    font-size: 20px;
  }
  ul {
    gap: 70px;
  }
  #bars {
    display: flex;
    font-size: 2em;
    margin-right: -70px;
  }
  nav h3 {
    margin-left: -70px;
  }
}
/* Home */
#home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
#text {
  font-size: 40px;
}
#text h1 {
  font-size: 0.6em;
  line-height: 65px;
  color: #0abfd7;
}
p {
  line-height: 70px;
  font-size: 0.7em;
}
#text h1 span {
  display: block;
  font-size: 3.2em;
  background: linear-gradient(
    90deg,
    #ffffff,
    #1fb4ff,
    rgb(0, 188, 209),
    #ffffff,
    #1fb4ff,
    rgb(0, 188, 209),
    rgb(0, 146, 162)
  );
  text-shadow: 0px 0 50px #0abfd7;
  background-clip: text;
  color: transparent;
  letter-spacing: 5px;
}
#text button {
  font-size: 0.5em;
  padding: 10px 50px;
  background-color: #00a9bf;
  color: white;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}
#text button:nth-of-type(2) {
  background: transparent;
  border: 2px solid rgba(89, 89, 89, 0.63);
}
#text button:nth-of-type(2):hover {
  transform: scale(1.05);
  background-color: rgba(128, 128, 128, 0.271);
  box-shadow: 0 0 5px #000000;
}
#text button:hover {
  transform: scale(1.05);
  background-color: #00cbe6;
  box-shadow: 0 0 5px #00a9bf;
}
#home img {
  position: relative;
  z-index: 1;
  pointer-events: none;
  width: 25rem;
}
.icons {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 20px;
  z-index: 2;
}
.icons h2 {
  border: 2px solid #00899b;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0f172a;
  transition: 0.3s;
}
.icons h2:nth-of-type(1):hover {
  background-color: rgb(230, 0, 184);
  border: 2px solid white;
  transform: scale(1.1);
  box-shadow: 0 0 100px rgb(230, 0, 184);
}
.icons h2:nth-of-type(2):hover {
  background-color: rgb(253, 0, 0);
  border: 2px solid white;
  transform: scale(1.1);
  box-shadow: 0 0 100px rgb(253, 0, 0);
}
.icons h2:nth-of-type(3):hover {
  background-color: rgb(0, 72, 188);
  border: 2px solid white;
  transform: scale(1.1);
  box-shadow: 0 0 100px rgb(0, 72, 188);
}
.icons h2:nth-of-type(4):hover {
  background-color: rgb(20, 110, 255);
  border: 2px solid white;
  transform: scale(1.1);
  box-shadow: 0 0 100px rgb(20, 110, 255);
}
/* Media Quiry */

@media screen and (max-width: 1647px) {
  #text {
    font-size: 35px;
  }
  #home img {
    width: 27rem;
  }
}
@media screen and (max-width: 1267px) {
  #text {
    font-size: 28px;
  }
  #home img {
    width: 23rem;
  }
}
@media screen and (max-width: 1106px) {
  #home {
    flex-direction: column;
    height: 150vh;
    justify-content: center;
    text-align: center;
  }
  #text h1 {
    font-size: 1.4em;
    line-height: 60px;
  }
    #text h1 span {
      font-size: 1.5em;
    }
  #text {
    font-size: 32px;
  }
  #home img {
    width: 25rem;
  }
}
@media screen and (max-width: 446px) {
  #text h1 {
    font-size: 1.2em;
    line-height: 60px;

  }
    #text h1 span {
      font-size: 1.5em;
    }
    #text p {
      margin-top: 0;
      line-height: 40px;
    }
}
@media screen and (max-width: 406px) {
  #text h1 {
    font-size: 1em;
    line-height: 60px;

  }
    #text h1 span {
      font-size: 1.5em;
    }
    #text p {
      margin-top: 0;
      line-height: 40px;
    }
}
@media screen and (max-width: 716px) {
  #home {
    flex-direction: column;
    height: 120vh;
    justify-content: center;
    text-align: center;
  }
  #text {
    font-size: 25px;
  }
  #home img {
    width: 18rem;
  }
  #text h1 {
    line-height: 40px;
  }
  .icons {
    font-size: 20px;
  }
  .icons h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 528px) {
  #home {
    flex-direction: column;
    height: 110vh;
    justify-content: center;
    text-align: center;
  }
  #text {
    font-size: 22px;
  }
  #text h1 {
    line-height: 40px;
  }
  #home img {
    width: 15rem;
  }
  .icons {
    font-size: 15px;
  }
  .icons h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 434px) {
  #home {
    flex-direction: column;
    height: 110vh;
    justify-content: center;
    text-align: center;
  }
  #text {
    font-size: 19px;
  }
  #text h1 {
    line-height: 30px;
  }
  #home img {
    width: 15rem;
  }
  .icons {
    font-size: 15px;
  }
  .icons h2 {
    font-size: 1em;
  }
}
